name: Rich Codex

on:
  push:
    paths:
      - README.md
      - perdoo/cli/**
  workflow_dispatch:

env:
  PY_VERSION: 3.14

jobs:
  rich_codex:
    permissions:
      contents: write
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ env.PY_VERSION }}
      - name: Install project
        run: uv sync --locked --no-dev
      - name: Generate terminal images with rich-codex
        uses: ewels/rich-codex@latest
        with:
          commit_changes: true
          clean_img_paths: docs/img/*.svg
