name: Testing

on:
  push:
    branches:
      - main
    paths-ignore:
      - docs/**
  pull_request:
    branches:
      - main
    paths-ignore:
      - docs/**

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  pytest:
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - '3.10'
          - '3.11'
          - '3.12'
          - '3.13'
          - '3.14'
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest

    permissions:
      contents: read
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install project
        run: uv sync --locked --no-dev --group tests --managed-python
      - name: Run tests
        run: uv run pytest

  check:
    if: always()
    needs:
      - pytest
    permissions: {}
    runs-on: ubuntu-latest

    steps:
      - name: Check for failures
        uses: re-actors/alls-green@v1.2.2
        with:
          jobs: ${{ toJSON(needs) }}
